:root {
  --color-bg-default: white;
  --color-text-default: black;
  --color-bg-hover: black;
  --color-text-hover: white;
  --color-shadow: rgba(0,0,0,0.5);
  --color-border: black;
  --color-bg-accent: #ffdb58;
  --color-text-accent: black;
}

.dark {
  --color-bg-default: black;
  --color-text-default: white;
  --color-bg-hover: white;
  --color-text-hover: black;
  --color-shadow: rgba(255,255,255,0.5);
  --color-border: white;
  --color-bg-accent: #ffdb58;
  --color-text-accent: black;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--color-bg-default);
  color: var(--color-text-default);
  transition: background-color 0.2s ease, color 0.2s ease;
}
